.cont{
    padding:25px;
    display:block;
    border-radius:10px;
    width: 800px; 
    height: 600px; 
    background: #89c6d3;
    margin:5px;
    margin-top:20px;
    margin-left:520px;
    }
  .texto{
    font-size:2.2rem;
    font-family: verdana, sans-serif;
    font-weight:500;
    color:white;
  }
  .texto p{
    padding:6px;
    font-family: 'Allerta';font-size: 32px;
  }
  
  .alum p {
    margin:5px;
    font-family: 'Averia Gruesa Libre';font-size: 42px;
    margin-left:20px;
  }
  .alum p:hover{
    color:#E0FDFE;
    text-shadow:2px 3px 0px #000;
  }
  
  .cont img{
    float:right;
    border-radius:6px;
    margin-top:30px;
  }